# Producción
/dist/
/build/
/.firebase/

# Entorno y Sistema
.env
.env.*
.env.local
.DS_Store

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
node_modules
